body{
    background: url(../images/list-page-images/background.jpg);
    background-size:cover;
}

.display-content{
    width: 100%;
    height: 7.582rem;
    position: relative;
    top: 0.5rem;
    /*padding: 0.5rem;*/
    box-sizing:border-box;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
}

.main-box{
    /*margin-right: 0.73rem;*/
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    border-radius: 0.25rem;
    width: 11.06rem;
    height: 7.582rem;
    position: absolute;
    left: 1.3rem;
    top: 0;
    display: inline-block;
}
.main-box:hover{
    cursor:pointer;
}
.main-box img{
    width: 11.06rem;
    height: 7.582rem;
}
.main-box:hover .black-screen{
    visibility: hidden;
    /*display: block;*/
}
/*
大图悬停幕布
 */
.black-screen{
    position: absolute;
    left: 0.3rem;
    bottom: 0.3rem;
    width: 10.4rem;
    height: 1.5rem;
    background: rgba(0,0,0, 0.5);
    font-size: 0.18rem;
    color: #ffffff;
}
.black-screen .image-title{
    border-left: red 0.03rem solid;
    padding-left: 0.1rem;
    display: inline-block;
    position: relative;
    left: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
}
.black-screen .image-ico{
    display: inline-block;
    position: relative;
    left: 8.7rem;
    top: 50%;
    transform: translateY(-50%);
}
.black-screen .image-ico img{
    width: 0.43rem;
    height: 0.18rem;
}
.sub-box-group{
    height: 7.582rem;
    width: 4.65rem;
    position: absolute;
    right: 1.6rem;
    overflow-y:auto;
    overflow-x: hidden;
}
.sub-box{
    display: inline-block;
    font-size: 0;
    height: 2.85rem;
    width: 4.14rem;
}
.sub-box{
    cursor:pointer;
}
.sub-box img{
    height: 2.84rem;
    width: 4.14rem;
}
.sub-black-screen{
    width: 3.8rem;
    height: 0.7rem;
    background: rgba(0,0,0,0.5);
    font-size: 0.18rem;
    color: #ffffff;
    transform: translate(5%, -120%);
}
.sub-black-screen .sub-image-title{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0.3rem;
    transform: translateY(-50%);
    border-left: red 0.03rem solid;
    padding-left: 0.1rem;
}
.sub-black-screen .sub-image-ico{
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 0.2rem;
    transform: translateY(-50%);
}
.sub-black-screen .sub-image-ico img{
    display: inline-block;
    width: 0.43rem;
    height: 0.18rem;
}

/*
滚动条
 */
.sub-box-group::-webkit-scrollbar{
    width: 0.09rem;
    background-color: #232323;
    border-radius: 0.1rem;
}
/* 滚动条小方块 */
.sub-box-group::-webkit-scrollbar-thumb{

    border-radius: 0.1rem;
    background-color: #ffffff;
}
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track
{
    /*width: 0.5rem;*/
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 0.1rem;
    background-color: #232323;
}